#include "recurso.h"
#include "afxres.h"

IDI_MJOLNIR ICON "Mjolnir2.ico"
//IDB_HOPE BITMAP "hope.bmp"


IDR_MYMENU MENU
BEGIN
    POPUP "Archivo"
    BEGIN
        MENUITEM "Salir", ID_FILE_EXIT
    END

    POPUP "Configurar"
    BEGIN
        MENUITEM "Texto mensaje", ID_ACCION1
        MENUITEM "Colores", IDM_CFG_COLORES
    END
    POPUP "Ficha Tecnica"
    BEGIN
      MENUITEM "Crear ficha", IDM_CREAR_FICHA
    END
END

//0,0,239,66
IDD_PROPIEDADES_OBJETO DIALOG DISCARDABLE  0, 0, 239, 166
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Propiedades del objeto"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "&OK",IDOK,174,18,50,14
    PUSHBUTTON      "&Cancelar",IDCANCEL,174,35,50,14
    GROUPBOX        "Propiedades",IDC_STATIC,7,7,225,152
    EDITTEXT        IDT_NVONOMBRE,16,18,144,14
END

IDD_PROPIEDADES_SERIAL DIALOG DISCARDABLE  0, 0, 270, 80
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Propiedades del Puerto Serial"
FONT 8, "MS Sans Serif"
BEGIN
    GROUPBOX        "",IDC_STATIC,7,7,256,66
      LTEXT           "Puerto: ", IDC_STATIC, 14,18,30,10
      COMBOBOX        IDCOMBO_PUERTOS_SERIALES_DISPONIBLES, 44,18,50,60, CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP
      LTEXT           "Baudios: ", IDC_STATIC, 100,18,30,10
      COMBOBOX        IDCOMBO_BAUDIOS, 130,18,50,60, CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP | ES_NUMBER
    DEFPUSHBUTTON   "&OK",IDOK,200,18,50,14
    PUSHBUTTON      "&Cancelar",IDCANCEL,200,35,50,14
END

IDD_FICHA_TECNICA DIALOG DISCARDABLE  0, 0, 600, 300
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Ficha Tecnica"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "&OK",IDOK,540,250,50,14
    PUSHBUTTON      "&Cancelar",IDCANCEL,540,267,50,14 /*diferencia de +17 en 'y' inicial*/
    /*Medidas*/
    GROUPBOX        "Medidas(cm)",IDC_STATIC,7,7,200,65
      LTEXT           "Ancho: ", IDC_STATIC, 14,18,30,14
      COMBOBOX        IDCOMBO_FT_ANCHO, 45,18,30,60, CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP | ES_NUMBER
      LTEXT           "Largo acabado: ", IDC_STATIC, 14,40,30,20
      EDITTEXT        IDT_FT_LARGO,45,45,30,12, ES_NUMBER
      GROUPBOX        "Telares de Rizo a Rizo", IDC_STATIC, 80,18,75,47
        LTEXT           "MIN", IDC_STATIC, 85,30,15,14
        LTEXT           "132", IDL_FT_LMIN, 85,45,15,14
        LTEXT           "REQ", IDC_STATIC, 107,30,15,14
        LTEXT           "133", IDL_FT_LREQ, 107,45,15,14
        LTEXT           "MAX", IDC_STATIC, 129,30,15,14
        LTEXT           "134", IDL_FT_LMAX, 129,45,15,14

    GROUPBOX        "Pesos(gr)", IDC_STATIC, 7,80,200,45
      LTEXT         "Acabado:", IDC_STATIC, 14,91,30,12
      EDITTEXT       IDT_FT_PESO_ACABADO,14,104,30,12, ES_NUMBER
      GROUPBOX        "Peso en telares", IDC_STATIC, 65,85,75,35
        LTEXT           "MIN", IDC_STATIC, 75,95,15,14
        LTEXT           "132", IDL_FT_LMIN, 75,105,15,10
        LTEXT           "REQ", IDC_STATIC, 97,95,15,14
        LTEXT           "133", IDL_FT_LREQ, 97,105,15,10
        LTEXT           "MAX", IDC_STATIC, 119,95,15,14
        LTEXT           "134", IDL_FT_LMAX, 119,105,15,10
        LTEXT           "gr/m^2:", IDC_STATIC, 143,95,30,12
        LTEXT           "500", IDL_FT_GRXM2, 173,95,15,10,ES_CENTER
        AUTOCHECKBOX    "Rasurado", IDCB_FT_RASURADO, 143,105,45,10

    GROUPBOX      "Composiciones", IDC_STATIC, 7,130,205,40
      LTEXT       "Rizo", IDC_STATIC, 14,141,30,12
      COMBOBOX    IDCOMBO_FT_HILO_RIZO, 14,154,45,60, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
      LTEXT       "Rizo 2", IDC_STATIC, 64,141,30,12
      COMBOBOX    IDCOMBO_FT_HILO_RIZO2, 64,154,45,60, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
      LTEXT       "Pie", IDC_STATIC, 114,141,30,12
      COMBOBOX    IDCOMBO_FT_HILO_PIE, 114,154,45,60, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
      LTEXT       "Trama", IDC_STATIC, 164,141,30,12
      COMBOBOX    IDCOMBO_FT_HILO_TRAMA, 164,154,45,60, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    GROUPBOX "Densidades y LPD",IDC_STATIC,210,7,320,100
    LTEXT "DEN",IDC_STATIC,212,27,25,12,ES_CENTER
    LTEXT "LPD",IDC_STATIC,212,39,25,12,ES_CENTER
    LTEXT "DEN",IDC_STATIC,212,51,25,12,ES_CENTER
    LTEXT "LPD",IDC_STATIC,212,63,25,12,ES_CENTER
    LTEXT "DEN",IDC_STATIC,212,75,25,12,ES_CENTER
    LTEXT "LPD",IDC_STATIC,212,87,25,12,ES_CENTER
    LTEXT "T/LPD",IDC_STATIC,237,15,25,12,ES_CENTER
    LTEXT "D1",IDC_STATIC,262,15,25,12,ES_CENTER
    LTEXT "D2",IDC_STATIC,287,15,25,12,ES_CENTER
    LTEXT "D3",IDC_STATIC,312,15,25,12,ES_CENTER
    LTEXT "D4",IDC_STATIC,337,15,25,12,ES_CENTER
    LTEXT "D5",IDC_STATIC,362,15,25,12,ES_CENTER
    LTEXT "D6",IDC_STATIC,387,15,25,12,ES_CENTER
    LTEXT "D7",IDC_STATIC,412,15,25,12,ES_CENTER
    LTEXT "D8",IDC_STATIC,437,15,25,12,ES_CENTER
    LTEXT "D9",IDC_STATIC,462,15,25,12,ES_CENTER
    LTEXT "D10",IDC_STATIC,487,15,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,237,27,25,12,ES_CENTER //DEN 1/3
    EDITTEXT IDC_STATIC,262,27,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,287,27,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,312,27,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,337,27,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,362,27,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,387,27,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,412,27,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,437,27,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,462,27,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,487,27,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,237,39,25,12,ES_CENTER //LPD 1/3
    EDITTEXT IDC_STATIC,262,39,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,287,39,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,312,39,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,337,39,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,362,39,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,387,39,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,412,39,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,437,39,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,462,39,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,487,39,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,237,51,25,12,ES_CENTER //DEN 2/3
    EDITTEXT IDC_STATIC,262,51,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,287,51,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,312,51,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,337,51,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,362,51,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,387,51,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,412,51,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,437,51,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,462,51,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,487,51,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,237,63,25,12,ES_CENTER //LPD 2/3
    EDITTEXT IDC_STATIC,262,63,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,287,63,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,312,63,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,337,63,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,362,63,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,387,63,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,412,63,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,437,63,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,462,63,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,487,63,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,237,75,25,12,ES_CENTER //DEN 3/3
    EDITTEXT IDC_STATIC,262,75,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,287,75,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,312,75,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,337,75,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,362,75,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,387,75,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,412,75,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,437,75,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,462,75,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,487,75,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,237,87,25,12,ES_CENTER //LPD 3/3
    EDITTEXT IDC_STATIC,262,87,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,287,87,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,312,87,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,337,87,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,362,87,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,387,87,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,412,87,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,437,87,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,462,87,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,487,87,25,12,ES_CENTER
    /******************se terminan lpd y den************************/

    GROUPBOX "Ajuste de Telares",IDC_STATIC,220,110,300,160
    LTEXT "Tension en Pie:",IDC_STATIC,222,130,60,12,ES_CENTER
    LTEXT "Tension en Rizo:",IDC_STATIC,222,142,60,12,ES_CENTER
    LTEXT "Reduccion:",IDC_STATIC,222,154,60,12,ES_CENTER
    EDITTEXT IDC_STATIC,282,130,60,12,ES_CENTER
    EDITTEXT IDC_STATIC,282,142,60,12,ES_CENTER
    EDITTEXT IDC_STATIC,282,154,60,12,ES_CENTER
    EDITTEXT IDC_STATIC,342,130,60,12,ES_CENTER
    EDITTEXT IDC_STATIC,342,142,60,12,ES_CENTER
    EDITTEXT IDC_STATIC,342,154,60,12,ES_CENTER
    EDITTEXT IDC_STATIC,402,130,60,12,ES_CENTER
    EDITTEXT IDC_STATIC,402,142,60,12,ES_CENTER
    EDITTEXT IDC_STATIC,402,154,60,12,ES_CENTER

    LTEXT "Apertura de Peine:",IDC_STATIC,222,190,60,12,ES_CENTER
    LTEXT "Altura de rizo:",IDC_STATIC,222,202,60,12,ES_CENTER
    LTEXT "Cenefa:",IDC_STATIC,222,214,60,12,ES_CENTER
    LTEXT "MIN", IDC_STATIC,282,178,25,12,ES_CENTER
    LTEXT "REQ", IDC_STATIC,307,178,25,12,ES_CENTER
    LTEXT "MAX", IDC_STATIC,332,178,25,12,ES_CENTER
    LTEXT "MIN", IDC_STATIC,357,178,25,12,ES_CENTER
    LTEXT "REQ", IDC_STATIC,382,178,25,12,ES_CENTER
    LTEXT "MAX", IDC_STATIC,407,178,25,12,ES_CENTER
    LTEXT "MIN", IDC_STATIC,432,178,25,12,ES_CENTER
    LTEXT "REQ", IDC_STATIC,462,178,25,12,ES_CENTER
    LTEXT "MAX", IDC_STATIC,487,178,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,282,190,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,307,190,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,332,190,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,357,190,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,382,190,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,407,190,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,432,190,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,457,190,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,482,190,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,282,202,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,307,202,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,332,202,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,357,202,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,382,202,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,407,202,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,432,202,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,457,202,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,482,202,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,282,214,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,307,214,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,332,214,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,357,214,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,382,214,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,407,214,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,432,214,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,457,214,25,12,ES_CENTER
    EDITTEXT IDC_STATIC,482,214,25,12,ES_CENTER

    /************************************************************/

END
