#include "recurso.h"
#include "afxres.h"

IDI_MJOLNIR ICON "Mjolnir2.ico"
//IDB_HOPE BITMAP "hope.bmp"


IDR_MYMENU MENU
BEGIN
    POPUP "Archivo"
    BEGIN
        MENUITEM "Salir", ID_FILE_EXIT
    END

    POPUP "Chat"
    BEGIN
        MENUITEM "Texto mensaje", ID_ACCION1
        MENUITEM "Abrir ventana", 0, GRAYED
    END
END

//0,0,239,66
IDD_ABOUT DIALOG DISCARDABLE  0, 0, 239, 166
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Propiedades del objeto"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "&OK",IDOK,174,18,50,14
    PUSHBUTTON      "&Cancelar",IDCANCEL,174,35,50,14
    GROUPBOX        "Propiedades",IDC_STATIC,7,7,225,152
    EDITTEXT        IDT_NVONOMBRE,16,18,144,14
END
